@use "../../../styles/scrollbar" as scroll;

#backlogColumn {
  width: 100%;
  min-height: 200px;
  overflow-y: auto;
  border-radius: 16px;
  background: #F1F2F4;
  height: max-content;
  max-height: 85vh;
  position: relative;
  @include scroll.custom-scrollbar(10px);

  .title {
    width: 100%;
    padding: 16px;
    background: #F48897;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    position: sticky;
    top: 0;

    @media (max-width: 992px) {
      font-size: 20px;
    }
  }

  .main {
    padding: 16px 16px 0;
  }
}
