#productCard {
  padding: 16px;
  border-radius: 10px;
  background: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 5px 0, rgba(0, 0, 0, 0.1) 0 0 1px 0;
  position: relative;

  .deleteCircle {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #EA297E;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    opacity: 0;
    visibility: hidden;
    transition: 0.25s ease;
  }

  &:hover .deleteCircle {
    opacity: 1;
    visibility: visible;
  }

  .imgWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      object-fit: contain;
      aspect-ratio: 1/1;
      max-width: 180px;
      margin-bottom: 24px;
      cursor: pointer;
      padding: 8px;
    }
  }

  h4 {
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    cursor: pointer;
    color: #1c1c1c;

    &:hover {
      text-decoration: underline;
    }

    @media (max-width: 992px) {
      font-size: 14px;
    }
  }

  .description {
    font-size: 14px;
    color: #666;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 8px;

    @media (max-width: 992px) {
      font-size: 12px;
    }
  }

  .price-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    font-size: 14px;
    text-transform: capitalize;

    @media (max-width: 992px) {
      flex-direction: column-reverse;
      font-size: 12px;
      align-items: start;
    }

    .price {
      font-weight: 500;
    }

    .category {
      color: #888;
    }
  }
}
